.music-album-art {
    background: transparent !important;
    text-align: center;
    color     : #666 !important;
    z-index   : 5;
}

.music-album-art-image{
    border-radius: 40px;
    border       : solid 3px #aaa;
    box-shadow   : 0px 0px 50px 10px #000 !important;
    width        : auto;
    height       : auto;
    max-width    : 320px;
    max-height   : 320px;
}


.music-album-art-dimming{
    /*animation: music-dimming 1500ms linear 1;*/
}


.music-album-art-glowing{
    /*animation: music-glowing 1500ms ease infinite;*/
}


@keyframes music-dimming {
    to {
        box-shadow: 0 0 50px 0px #000;
    }
}



@keyframes music-glowing {
    0%   { box-shadow: 0 0 50px  0px #000; }
    50%  { box-shadow: 0 0 50px 20px #000; }
    100% { box-shadow: 0 0 50px  0px #000; }
}

.music-button {
    color: #888 !important;
}

.music-title-bar {
    align-items: center !important;
    margin-left: -25px !important;
}

.music-artist {
    font-size     : 35px;
    font-weight   : 600;
    border-radius : 25px !important;
    color         : black !important;
    letter-spacing: 3px;
    font-family   : 'Noto Sans';
    padding       : 5px;
    margin-bottom : 10px;
    background    : rgba( 255, 255, 255, 0.5 ) !important;
}

.music-title {
    color         : white !important;
    font-size     : 40px;
    font-weight   : 700;
    letter-spacing: 3px;
    font-family   : 'Noto Sans';
    text-shadow   : 1px 1px 10px #000, -1px 1px 10px #000, 1px -1px 10px #000, -1px -1px 10px #000 !important;
}

.marquee {
    text-indent: 100px !important;
}

.music-album {
    font-size     : 30px;
    font-weight   : 600;
    font-style    : italic;
    margin-top    : 10px;
    color         : #AAA !important;
    letter-spacing: 2px;
    font-family   : 'Noto Sans';
    text-shadow   : 1px 1px 10px #000, -1px 1px 10px #000, 1px -1px 10px #000, -1px -1px 10px #000 !important;
}





.mini-music-artist {
    font-size     : 96px;
    font-weight   : 600;
    border-radius : 25px !important;
    color         : black !important;
    letter-spacing: 3px;
    font-family   : 'Noto Sans';
    padding       : 5px;
    margin-bottom : 10px;
    background    : rgba( 255, 255, 255, 0.5 ) !important;
}

.mini-music-title {
    color         : white !important;
    font-size     : 96px;
    font-weight   : 700;
    letter-spacing: 3px;
    font-family   : 'Noto Sans';
    text-shadow   : 1px 1px 10px #000, -1px 1px 10px #000, 1px -1px 10px #000, -1px -1px 10px #000 !important;
}

.marquee {
    text-indent: 100px !important;
}
