.schedule-habit-area {
    text-align      : center;
    color           : white !important;
    background-color: #222 !important;
    font-weight     : 700;
    font-family     : 'Noto Sans Mono';
    letter-spacing  : 2px;
    margin-top      : 18px;
    margin-bottom   : 5px;
    text-transform  : uppercase;
    border-radius   : 20px !important;
}

.schedule-habit-entry {
    text-align : left;
    font-size  : 17px;
    font-family: 'Noto Sans Mono';
}

.schedule-entry-pending {
}


.schedule-entry-progress {
}

.schedule-entry-done {
    color          : #888 !important;
    text-decoration: line-through;
}

.schedule-habit-tick {
    margin-top  : 2px !important;
    margin-right:  -15px !important;
}

.schedule-tick-pending {
    /*margin-top  : 2px !important;*/
    color: #f00 !important;
}


.schedule-tick-progress {
    color: #ff0 !important;
}

.schedule-tick-done {
    color: #0f0 !important;
}