.cheatsheet-table-container::-webkit-scrollbar {
    display: none;
}

.cheatsheet-box {
    overflow: hidden;
    margin  :  15px;
}

.cheatsheet-icon {
    border     : solid 2px white;
    position   : absolute !important;
    top        : 10px;
    margin-left: 10px;
    width      : 180px !important;
    height     : 180px !important;
    z-index    : -1;
    filter     : opacity(80%) brightness(60%)
}

.cheatsheet-markdown {
    font-family: "Noto Sans Mono";
    font-size  : 19px;
}


.cheatsheet-markdown code {
    background-color: #f006;
}


.cheatsheet-markdown table {
    width           : 100%;
    background-color: #0003;
}

.cheatsheet-markdown th {
    background-color: #111;
    padding         : 8px;
    border-right    : solid 1px #666 ;
}


.cheatsheet-markdown tr:nth-child(even) {
    background-color: #555b;
}

.cheatsheet-markdown tr:nth-child(odd) {
    background-color: transparent;
}