@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter:wght@400;500&display=swap');

html * {cursor:none!important}

body {
    font-family     : 'Noto Sans Mono', monospace;
    margin          : 10px;
    padding         :  0px;

    background-color: #333;
    color           : #fff;
    overflow        : hidden;

    animation      : gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}


.tabs {
    border-right: solid 2px #666;
    width       : 300px;
    height      : 420px;
    margin-top  : -40px;
}

.tabs-avatar{
    width :  25px !important;
    height:  25px !important;
    border:  solid 2px white !important;

}

.paper {
    background : transparent !important;
    text-align : center;
    font-size  : 20px;
    color      : #fff !important;
    font-family: 'Noto Sans Mono';
    padding    : 5px;
}

.box {
    height         : 350px !important;
    display        : flex !important;
    flex-direction : column !important;
    justify-content: center !important;
}

.round-container {
    border       : solid 1px #666;
    border-radius: 10px;
    padding      : 5px;
}

.tab-item {
    min-height: 60px !important;
    min-width : 60px !important;
}

.mini-clock {
    color         : #000 !important;
    position      : fixed;
    right         : 1.5%;
    bottom        : 2%;
    letter-spacing: 2px !important;
    font-family   : 'Noto Sans Mono' !important;
    font-size     : 18px !important;
}