.twitch-chat-container{
}

.twitch-chat {
    margin-left  : 30px;
    border-radius: 10px;
    height       : 320px;
    width        : 400px;
    border       : solid 10px rgba(34, 34, 34, 0.85);
}

.twitch-events {
    height: 150px;
    width : 600px;
    border: none;
}

.twitch-obs-detail {
    font-size  : 18px;
    font-family: 'Noto Sans Mono';

}

.twitch-status-on {
    color:  #0a0;
}


.twitch-status-off {
    color:  #a00;
}

.twitch-scene {
    font-family   : 'Noto Sans Mono';
    font-size     : 20px;
    font-weight   : bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align    : center;
}

.twitch-scene-streaming {
    background-color: #0a0 !important;
    color           : #000 !important;
    border-radius   : 15px !important;
}

.twitch-scene-break {
    background-color: #aa0 !important;
    color           : #000 !important;
    border-radius   : 15px !important;
}

.twitch-scene-others {
    background-color: #a00 !important;
    color           : #000 !important;
    border-radius   : 15px !important;

}